<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/reset.css" />
    <link rel="stylesheet" href="styles/base.css" />
    <title>Planning</title>
  </head>
  <body>

    <div>
      <h2><%= element.city %></h2>
      <p><%= element.date %></p>
      <img src="<%= element.image_url %>" alt="Image" />
      <p><%= element.hotel %></p>
      <p><%= element.transport %> <% }); %></p>
    </div>
    <button id="updateButton">Update Plan</button>
    <form action="/deletePlan/<%=plan.id%>?_method=delete" method="post">
        <button>Delete Plan</button>
     </form>

    <section class="updateSection">
      <form action="/updatePlan/<%=plan.id%>?_method=put" method="post">
        <input type="text" name="city" value="<%= element.city %>" />
        <input type="text" name="date" value="<%= element.date %>" />
        <input type="text" name="image_url" value="<%= element.image_url %>" />
        <input type="text" name="hotel" value=" <%= element.hotel %>" />
        <input type="text" name="transport" value="<%= element.transport %>" />
        <button>update Plan</button>
      </form>
      <% }); %>
    </section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/app.js"></script>
  </body>
</html>
