<!DOCTYPE html>
<html lang="en">

    <%- include('../layout/head') %>

<body>

    <%- include('../layout/header') %> 

    <main>

        <h3 id="h3Index"> There are <%= numberOfBooks %> books in your shelf</h3>
        <% taskResults.forEach(book=>{ %> 
            <div id="serachDiv">
                <img src='<%= book.imagelinks %>' alt="">
                <h3 id="h3Book"><%= book.title %></h3>
                <h4 id="h4Book"><%= book.authors %></h4>
                <p id="pBook"><%= book.isbn %></p>
                <button id="btnBook" type="button"><a id="aBook" href="/books/<%=book.id%>">View Details</a> </button>
            </div>
        <% }) %> 

    </main>

    <%- include('../layout/footer') %>
    
</body>
</html>