<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a responsive pricing table.">
    <title>Buudy Nav  </title>
    <link rel="stylesheet" href="styles/pure-min.css">
    <link rel="stylesheet" href="styles/header.css">
    <link rel="stylesheet" href="styles/grids-responsive-min.css">
    <link rel="stylesheet" href="styles/result.css">
    
</head>
<body>

<div class="pure-menu pure-menu-horizontal">
    <img id="logo" class="pure-menu-heading" src="Images/Buddy Nav-01.png" alt="">
    <!-- <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Home</a></li>
        <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">Pricing</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact</a></li>
    </ul> -->
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Home</a></li>
        <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">Your Plans</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">About Us</a></li>
    </ul>
</div>


<div class="banner">
    
    <h2 class="dark" style="display: inline-block; padding: 10px 30px; letter-spacing: normal;color: white; box-shadow: 5px 10px 18px #888888; font-size: 40px; "><%= apiAll[3].cityName %> </h1> <br>
               <% console.log(apiAll) %> 
    <img src="<%= apiAll[0].city_url %> " alt="" id="city"> <br>
    
    <div class="grid">
      
     <!-- <img src="Images/pexels-photo-207962.jpeg" alt=""> -->
     <img src="<%=apiAll[0].map_url  %> " alt="" id="map">
     <!-- <img src="Images/restaurant-beans-coffee-cup.jpg" alt=""> -->
    </div>
                   
                  
            
</div>

<div class="l-content">
    <section class="dark">
<br>
    
    <h1>WEATHER</h1> 
        
    <div class="pricing-tables pure-g"> 
        
        <div class="pure-u-1 pure-u-md-1-3">
            <div class="pricing-table pricing-table-free">
                <div class="pricing-table-header">
                    <h2></h2>

                    <span class="pricing-table-price">
                        <%= apiAll[3].temperature %> °C <span> </span>
                    </span>

                </div>
                

               
            </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-3">
            <div class="pricing-table pricing-table-biz pricing-table-selected">
                <div class="pricing-table-header">
                    <h2> </h2>
                    
                    <span class="pricing-table-price">
                        <img src=" <%= apiAll[3].weather_icons %> " alt="" class="imagIcon">   <span> </span>
                    </span>
                </div>
               

               
            </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-3">
            <div class="pricing-table pricing-table-enterprise">
                <div class="pricing-table-header">
                    <h2></h2>

                    <span class="pricing-table-price width " >

                     <%= apiAll[3].weather_descriptions %>
                    <span> </span>
                    </span>
                </div>
               

                
            </div>
        </div>
    </div> <br> <br>
</section>
</div>   
   <!-- end l-content -->




<form action="/saveData" method="get" class="form">

    <input type="hidden" name="cityName" value="<%= apiAll[3].cityName  %>">
     <input type="hidden" name="map_url" value="<%= apiAll[0].map_url %>">
     <input type="hidden" name="city_url" value="<%= apiAll[0].city_url %>">
     <input type="hidden" name="time" value="<%= apiAll[3].time %>">
    
     


 <section class="light">

    <h1>  HOTELS </h1>
 <div class="grid1">

    
  <% apiAll[1].forEach(element => {%>
      
   
    <input type="hidden" name="hotel_price" value="<%= element.hotel_price %>">
    <input type="hidden" name="hotel_rate" value="<%= element.hotel_rate %>">
    <input type="hidden" name="hotel_img" value="<%= element.hotel_image %>">
    
      <div>
        <h5><%= element.hotel_name %></h5>
        <img src="<%= element.hotel_image %>" class="imagehotel" alt="Hotel">
        <p>Rating: <%= element.hotel_rate %> stars</p> 
        <p>Price:  $<%= element.hotel_price %> </p> 
     
        <label> 
            <input type="radio" name="hotel_name" value=" <%= element.hotel_name %>" checked>
            <span class="design"></span>
            <span class="text"></span>
            Select Hotel
             
        </label>
     </div> 
    
    <% });  %> 
</div>
  
    
  </section>

  <section class="light">

    <h1>  TRANSPORT </h1>
    <div class="grid1">
   
        
      <% apiAll[2].forEach(element => {%>
       
        <input type="hidden" name="station_type" value="<%= element.station_type %>">
        <input type="hidden" name="transport_price" value="<%= element.transport_price %>">
      
      
       <!-- <div> -->
      <label>
          <input type="radio" name="station_name" value=" <%= element.station_name %>" checked>
        <span class="design"></span>
        <span class="text"></span>
        <%= element.station_name %>
      </label>

      <p><%= element.station_type %>  </p>
      <p>Price: $<%= element.transport_price %>  </p>
    <!-- </div>  -->


      <% });  %> 
     
  </div>
    
      
    </section> 
    <button class="cta">
        <span> Save Plane</span>
        <svg width="13px" height="10px" viewBox="0 0 13 10">
          <path d="M1,5 L11,5"></path>
          <polyline points="8 1 12 5 8 9"></polyline>
        </svg>
      </button>
    <!-- <button class="btn">Save plane</button> -->
</form>
  
<div class="l-content">
    <section class="dark">
       <h1>COVID-19</h1>
       <h2 class="title"> <%= apiAll[4].country %> population  <%= apiAll[4].population %> </h2>
    <div class="pricing-tables pure-g">
        <div class="pure-u-1 pure-u-md-1-3">
            <div class="pricing-table pricing-table-free">
                <div class="pricing-table-header">
                    <h2>confirmed</h2>

                    <span class="pricing-table-price">
                        <%= apiAll[4].confirmed %> <span> </span>
                    </span>
                </div>
                <ul class="pricing-table-list">
                <li>last update <%= apiAll[3].time %></li>
                    
                </ul>
                

               

               
            </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-3">
            <div class="pricing-table pricing-table-biz pricing-table-selected">
                <div class="pricing-table-header">
                    <h2>recovered</h2>

                    <span class="pricing-table-price">
                        <%= apiAll[4].recovered %>  <span> </span>
                    </span>
                    <ul class="pricing-table-list">
                        <li class="ahmad">last update <%= apiAll[3].time %></li>
                        
                    </ul>
                    
                </div>

               
            </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-3">
            <div class="pricing-table pricing-table-enterprise">
                <div class="pricing-table-header">
                    <h2>deaths</h2>

                    <span class="pricing-table-price">
                        <%= apiAll[4].deaths %>  <span> </span>
                    </span>
                </div>
                <ul class="pricing-table-list">
                    <li>last update <%= apiAll[3].time %></li>
                    
                </ul>
                

               
                
            </div>
        </div>
    </section>
</div> <!-- end pricing-tables -->   




<div class="footer l-box is-center">
    BuddyNav&copy;2021 Powered by Strangers group
</div>

</body>

</html>