<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
            <p> <%= countryobj.country %> </p>
            <p> <%= countryobj.population %> </p>
            <p> <%= countryobj.confirmed %> </p>
            <p> <%= countryobj.recovered %> </p>
            <p> <%= countryobj.deaths %> </p>
            <p> <%= countryobj.updated %> </p>
       

    <canvas id="myChart" width="200" height="200"></canvas>
</main>

</body>
</html>